.yspl_wp_usr_fltr_modal-content *{margin: 0px; padding: 0px; box-sizing: border-box;}
/* 
prefix for html elements : yspl_wp_usr_fltr
The Modal (background) 
*/
.yspl_wp_usr_fltr_modal {
    display: none;
    align-items: center;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
  /* Modal Content/Box */
  .yspl_wp_usr_fltr_modal-content {
    background-color: #fefefe;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    font-size: 15px;
  }
  
  /* The Close Button */
  .yspl_wp_usr_fltr_model_close {
    color: #aaa;
    text-align: right;
    font-size: 28px;
    font-weight: bold;
  }
  .yspl_wp_usr_fltr_model_close:hover,
  .yspl_wp_usr_fltr_model_close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }  
.yspl_wp_usr_fltr-tabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.yspl_wp_usr_fltr-tabs button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.yspl_wp_usr_fltr-tabs button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.yspl_wp_usr_fltr-tabs button.set-active {
  background-color: #ccc;
}

/* Style the tab content */
.yspl_wp_usr_fltr-tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  min-height: 400px;
}
.yspl_wp_usr_fltr_modal-content .stng-title{
  text-align: center;
}
.yspl_wp_usr_fltr_modal-content .parent-col{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}
.yspl_wp_usr_fltr_modal-content .yspl_wp_usr_fltr-tabcontent.yspl_us_general .child-col{
  width: calc((100% / 3) - 20px);
  min-height: 200px;
}

.yspl_wp_usr_fltr-tabcontent .child-col{position: relative;}
.yspl_us_advance.yspl_wp_usr_fltr-tabcontent .child-col:first-child { border-right: 1px solid #000; }
.yspl_wp_usr_fltr-tabcontent .child-col::after{content: ''; position: absolute; top: 0; right: -16px; width: 1px; height: 100%; background: #000; }
.yspl_wp_usr_fltr-tabcontent .child-col:last-child:after{display: none;}
.yspl_us_advance.yspl_wp_usr_fltr-tabcontent .child-col::after { display: none; }
.yspl_wp_usr_fltr_modal-content .yspl_wp_usr_fltr-tabcontent.yspl_us_advance{ overflow-y: scroll;  height:300px; }
.yspl_wp_usr_fltr_modal-content .yspl_wp_usr_fltr-tabcontent.yspl_us_advance .date-div{ width: 35%; }
.yspl_wp_usr_fltr_modal-content .yspl_wp_usr_fltr-tabcontent.yspl_us_advance .meta-div{ width: 65%; padding:0 30px; }


.yspl_wp_usr_fltr-tabcontent .exclude-roles{column-count: 2;}
.yspl_wp_usr_fltr-tabcontent.yspl_us_dates{
  text-align: center;
}
.yspl_wp_usr_fltr-tabcontent.yspl_us_dates input[type='date']{
  width: 20%;
}
.yspl_wp_usr_fltr_modal-content .tooltip {
  position: relative;
  display: inline-block;
  border: 1px dotted black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: help;
  text-align: center;
}
.close-popup-btn{
  text-align: right;
  margin-bottom: 5px;
}
.meta_filter_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.meta_filter_table td, .meta_filter_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.meta_filter_table tr:nth-child(even){background-color: #f2f2f2;}

.meta_filter_table tr:hover {background-color: #ddd;}

.meta_filter_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: rgb(0, 0, 0);
}
.yspl_wp_usr_fltr_modal-content .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    /* margin-left: -60px; */
    opacity: 0;
    transition: opacity 0.3s;
    transform: translateX(-50%);
}

.yspl_wp_usr_fltr_modal-content .tooltip .tooltiptext::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.yspl_wp_usr_fltr_modal-content .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  padding: 20px;
  min-width: 200px;
  font-size: 15px;
  line-height: 25px;
}
.yspl_wp_usr_fltr-tabcontent.yspl_us_advance .tooltip:hover .tooltiptext{
  width: 400px;
}

.yspl_wp_usr_fltr_modal-content .dis-block{ display: block; }
.yspl_wp_usr_fltr_modal-content .pad-top-40{ padding-top: 40px; }
.yspl_wp_usr_fltr_modal-content .pad-top-10{ padding-top: 10px; }

.yspl_wp_usr_fltr_modal-content .exclude-roles label{
  width: fit-content;
  display: block;
  padding-bottom: 10px;
}
.yspl_wp_usr_fltr_modal-content .export-btn {
  margin-top: 13%;
}
.yspl_wp_usr_fltr_modal-content .export-btn button{
  padding: 10px 20px;
}
.yspl_wp_usr_fltr_modal-content #LETS-make-POST-Form{
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
/* The container */
.yspl_wp_usr_fltr_modal-content .fancy-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.yspl_wp_usr_fltr_modal-content .fancy-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.yspl_wp_usr_fltr_modal-content .fancy-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 26px;
  width: 25px;
}
.yspl_wp_usr_fltr_modal-content .fancy-check:hover input ~ .fancy-checkmark {
  background-color: #ccc;
}
.yspl_wp_usr_fltr_modal-content .fancy-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.yspl_wp_usr_fltr_modal-content .fancy-check input:checked ~ .fancy-checkmark:after {
  display: block;
}
.yspl_wp_usr_fltr_modal-content .fancy-check .fancy-checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* ***********
*******************
** */
.yspl_wp_usr_fltr_modal-content .fancy-radio {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.yspl_wp_usr_fltr_modal-content .fancy-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.yspl_wp_usr_fltr_modal-content .fancy-select {
  position: absolute;
  top: -4px;
  left: 0;
  height: 29px;
  width: 29px;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.yspl_wp_usr_fltr_modal-content .fancy-radio:hover input ~ .fancy-select {
  background-color: #ccc;
}

.yspl_wp_usr_fltr_modal-content .big_p_bold{
  font-size: 16px;
}


.yspl_wp_usr_fltr_modal-content .big_p{
  font-size: 14px;
}
/* When the radio button is checked, add a blue background */
/* .yspl_wp_usr_fltr_modal-content .fancy-radio  {
   background-color: #2271b1; *
} */

/* Create the indicator (the dot/circle - hidden when not checked) */
.yspl_wp_usr_fltr_modal-content .fancy-select:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.yspl_wp_usr_fltr_modal-content .fancy-radio input:checked ~ .fancy-select:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.yspl_wp_usr_fltr_modal-content .fancy-radio .fancy-select:after {
  top: 9px;
  left: 9px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}

.yspl_wp_usr_fltr_modal-content .txt-center{ text-align: center; }
.yspl_wp_usr_fltr_modal-content .txt-right{ text-align: right; }
.yspl_wp_usr_fltr_modal-content .form-order{  
  display: inline-block;
  width: fit-content;
  padding-left: 20px;
}
.yspl_wp_user_fltr_meta_append_content input[type='text']{ width: 70%;  }
.yspl_wp_usr_fltr_modal-content .add_multi_date,.yspl_wp_usr_fltr_modal-content .add_multi_meta_query{ margin-left: 50px; }
.yspl_wp_usr_fltr_modal-content .relation{ margin-left: 20px ; }
.yspl_wp_usr_fltr_modal-content .ordr-by-fields{
  display: flex;
  align-items: center;
}
.yspl_wp_usr_fltr_modal-content .yspl-sbmit-actions{
  display: inline-block;
  float: right;
}
.yspl_wp_usr_fltr_modal-content  .pop-up-footer{
  margin-top: 20px; 
}
.yspl_wp_usr_fltr_modal-content  .pop-up-footer p{
  font-size: 15px;
}
/**** pop up message ***/
.yspl_wp_usr_fltr_modal-content #pop-pop {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.yspl_wp_usr_fltr_modal-content #pop-pop.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* 
  Heart shape
 */

.yspl_wp_usr_fltr_modal-content .heart {
  background-color: #0487ff;
  display: inline-block;
  height: 9px;
  margin: 0 7px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 9px;
}

.yspl_wp_usr_fltr_modal-content .heart:before,
.yspl_wp_usr_fltr_modal-content .heart:after {
  content: "";
  background-color: #0487ff;
  border-radius: 50%;
  height: 9px;
  position: absolute;
  width: 9px;
}

.yspl_wp_usr_fltr_modal-content .heart:before {
  top: -6px;
  left: 0;
}

.yspl_wp_usr_fltr_modal-content .heart:after {
  left: 6px;
  top: 0;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
/*  animation css */
.yswp__usr_fltr_animated-btn {
	position: relative;
	padding: 30px 60px;
	overflow: hidden;
}

.yswp__usr_fltr_animated-btn span:nth-child(1) {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 1px;
	animation: animate1 2s linear infinite;
}

.yswp__usr_fltr_animated-btn .abc_snake{
  min-height: 0px !important;
  min-width: 0px !important;
  padding: 0px !important; 
}

@keyframes animate1 {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

.yswp__usr_fltr_animated-btn span:nth-child(2) {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 1px;
	animation: animate2 2s linear infinite;
	animation-delay: 1s;
}
@keyframes animate2 {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100%);
	}
}

.yswp__usr_fltr_animated-btn span:nth-child(3) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 1px;
	animation: animate3 2s linear infinite;
}

@keyframes animate3 {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}

.yswp__usr_fltr_animated-btn span:nth-child(4) {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 1px;
	animation: animate4 2s linear infinite;
	animation-delay: 1s;
}

@keyframes animate4 {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(-100%);
	}
}

@media only screen and (max-width: 991px) {
  /* For mobile phones, Tablets, iPads : */
  .yspl_wp_usr_fltr-tabcontent{
    max-height: 500px;
    overflow-y: auto;
  }
  .yspl_wp_usr_fltr_modal-content .yspl_wp_usr_fltr-tabcontent.yspl_us_general .child-col {
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.4);
  }
  .yspl_wp_usr_fltr_modal-content .yspl_wp_usr_fltr-tabcontent.yspl_us_advance .child-col {
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0,0,0,0.4);
  }
  .yspl_wp_usr_fltr_modal-content .yspl_wp_usr_fltr-tabcontent.yspl_us_general .child-col:last-child{padding: 0px; border: none;}
  .yspl_wp_usr_fltr-tabcontent .child-col::after {
    display: none;
  }
  .yspl_wp_usr_fltr-tabcontent .between-two-dates input,span {
    display: block;
    width: 100%;
  }
  .yspl_wp_usr_fltr-tabcontent .between-two-dates span{
    padding: 10px 0px;
  }
  .yspl_wp_usr_fltr_modal-content .pad-top-40 span {
    display: block;
    text-align: center;
  }
  .yspl_wp_usr_fltr_modal-content .form-field input[name='one-dt']{
    width: auto;
    display: inline-block;
  }
  .yspl_wp_usr_fltr_modal-content .rst_single_dt{
    width: 90px;
  }
  .yspl_wp_usr_fltr_modal-content .fancy-radio  {
    margin-top: 25px;
  }
}
